main {
      flex-grow: 1;
      padding: 20px;
    }

    header {
      background: #333;
      color: white;
      padding: 20px;
      text-align: center;
    }

    .cards {
      display: flex;
      gap: 20px;
      border-radius: 20px;
      margin-bottom: 30px;
    }

    .card {
      background: rgb(250, 246, 246);
      flex: 4;
      padding: 100px;
      border-radius: 20px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .card h3 {
      color: #555;
      margin-bottom: 10px;
    }
    .card-body{
      text-align: center;
      background-color: aquamarine;
    }

    