
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/log.jpeg);
    background-repeat: none; 
    background-size: cover;
    align-items: center;
}


h2 {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

form {
    width: 350px;
    padding: 40px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1); /* Transparent */
    backdrop-filter: blur(10px);          /* Glass blur */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.5); 
    transform: scale(1.05);     
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2); 
}

