doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Welcoming Page
  link(rel='stylesheet' href='../css/index.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')
.page-container
  h1 Welcome To Mayondo Wood And Furniture
  br
  p.text
    | At MWF, we&rsquo;re dedicated to delivering high-quality wood and furniture
    | products designed for durability and style. Our solutions are built not only
    | for individuals but also for businesses that want efficiency in managing stock, sales, and reporting.
  .logs
    a.btn.btn-signup(href='/html/signup.html' role='button' aria-label='Sign Up') Sign Up
    a.btn.btn-signup(href='/html/login.html' role='button' aria-label='Login') Login
footer.footer
  p &copy; 2025 MWF Company | All Rights Reserved
  .social-icons
    a(href='#')
      i.fab.fa-facebook-f
    a(href='#')
      i.fab.fa-twitter
    a(href='#')
      i.fab.fa-linkedin-in
