doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title mwf
  link(rel='stylesheet' href='/css/sales.css')
  link(rel='stylesheet' href='/css/saleslist.css')
  link(rel='stylesheet' href='/css/attendants.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')
nav.navbar.navbar-expand-lg
  .container-fluid
    img.logo(src='/images/M (1).png', alt='MWF Logo')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        a.nav-link.active(aria-current='page' href='attendant') Dashboard
        a.nav-link(href='/products') Products
        a.nav-link(href='/sales')  Add Sales
        a.nav-link(href='/saleslist') Sales List
        a.nav-link(href='/stocklist') Stock List
        a.nav-link(href='/report') Report
        a.button(href='/logout') Logout
body        
  block content