extends layout-forms 

block content
  form#login-form(action="/login" method="POST")
    .main
      .container
        .apply-box
          h1
            | Login
            span
        br
        br
      .mb-4
        label.form-label(for='email') Email Address
        input#email.form-control(type='text' name="emailAddress" required)
      .mb-4.position-relative
        label.form-label(for='password') Password
        input#password.form-control(type='text' name="password" required)
        span.toggle-password(onclick='togglePassword()')
          i#toggleIcon.fa-solid.fa-eye
      .mb-4.form-check(style=' margin: auto; margin-right: 0; width: fit-content; display: block;')
        input#exampleCheck1.form-check-input(type='checkbox')
        label.form-check-label(for='exampleCheck1') Forgot password
    button.btn1(type='submit') Login
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js')
  script(src='/scripts/login.js')
