doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title MWF Manager Dashboard
  link(rel='stylesheet' href='/css/manager.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')
nav.navbar.navbar-expand-lg
  .container-fluid
    a.navbar-brand(href='#') MWF
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        a.nav-link.active(aria-current='page' href='manager.html') Dashboard
        a.nav-link(href='manager.html') Users
        a.nav-link(href='attendants.html') Attendants
        a.nav-link(href='products.html') Products
        a.nav-link(href='sales.html')  Add Sales
        a.nav-link(href='salestable.html') Sales
        a.nav-link(href='stock.html') Add Stock
        a.nav-link(href='.html') Stocklist
        a.nav-link(href='.html') Report
.container
  h2 Manager's Dashboard
  .cards
    .card
      h3 Total Revenue
      p UGX 12,500,000
    .card
      h3 Monthly Sales
      p 420
    .card
      h3 Top Item
      p Office Desk
    .card
      h3 Low Stock Items
      p 7
  .charts
    .chart-box
      h3 Monthly Revenue Trend
      canvas#revenueChart
    .chart-box
      h3 Top Selling Items
      canvas#topItemsChart
    .chart-box
      h3 Sales Growth
      canvas#growthChart
  .tables
    .table-box
      h3 Recent Sales
      table
        thead
          tr
            th Date
            th Item
            th Qty
            th Total (UGX)
        tbody
          tr
            td 2025-09-20
            td Office Desk
            td 2
            td 1,200,000
          tr
            td 2025-09-19
            td Chair
            td 5
            td 750,000
    .table-box
      h3 Stock Overview
      table
        thead
          tr
            th Item
            th In Stock
            th Reorder Level
        tbody
          tr
            td Timber
            td 80
            td 30
          tr
            td Office Desk
            td 15
            td 10
footer.footer
  p &copy; 2025 MWF Company | All Rights Reserved
  .social-icons
    a(href='https://www.facebook.com' target='_blank')
      i.fab.fa-facebook-f
    a(href='https://twitter.com' target='_blank')
      i.fab.fa-twitter
    a(href='https://www.linkedin.com' target='_blank')
      i.fab.fa-linkedin-in
script(src='https://cdn.jsdelivr.net/npm/chart.js')
script(src='/public/scripts/manager.js')
