extends layout 
block content
  h2 Sales Recording Form
  .form-container
    form(action='/sales' method='POST')
      label
        | Customer Name:
        input(type='text' name='customerName')
      label
        | Product Name:
        select(name='productName')
          option() Chair
          option Bed
          option Cupboard
          option Drawers
          option Table
          option Sofa
          option Dining Table
          option Office Table
          option Office Chair
          option Tmber
          option Poles
      label
        | Product Type:
        select(name='productName')
          option Wood
          option Furniture
          option SoftWood
          option HardWood
      label
        | Quantity:
        input(type='number' name='quantity')
      label
        | Price Per Unit:
        input(type='number' name='unitPrice')
      label
        | Date of Sale:
        input(type='date' name='saleDate')
      label
        | Payment Method:
        select(name='paymentType')
          option Cash
          option Cheque
          option Bank Overdraft
      label
        | Sales Agent Name:
        input(type='text' name='agentName')
      label
        input.checkbox(type='checkbox' name='transport')
        |         Add 5% for Transport
      button(type='submit') Record Sale
  script(src='/Js/form.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js')
  footer
    | &copy; 2025 Mayondo. All rights reserved.
