extends layout 
block content
  h2 Sales Recording Form
  .form-container
    form(action='/sales' method='POST')
      label
        | Customer Name:
        input(type='text' name='customerName')
      label
        | Product Name:
        select(name='productName')
          option() Chair
          option Bed
          option Cupboard
          option Drawers
          option Table
          option Sofa
          option Dining Table
          option Office Table
          option Office Chair
          option Tmber
          option Poles
      label
        | Product Type:
        select(name='productType')
          option Wood
          option Furniture
          option SoftWood
          option HardWood
      label
        | Quantity:
        input(type='number' name='quantity')
      label
        | Price Per Unit:
        input(type='number' name='unitPrice')
      label
        | color:
        input(type='text' name='color') 
      label
        | Measurement:
        input(type='text' name='measurement')   
      label
        | Date of Sale:
        input(type='date' name='salesDate')
      label
        | Payment Method:
        select(name='paymentMethod')
          option(value="Cash") Cash
          option(value="Cheque") Cheque
          option(value="Bank Overdraft") Bank Overdraft
      label
        | Total Price:
        input(type='text' name='totalPrice')  
      label(for='transportfee')
        input.checkbox#transportfee(type='checkbox' name='transport')
        |         Add 5% for Transport
      button(type='submit') Record Sale
  //- script(src='/scripts/form.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js')
  footer
    | &copy; 2025 Mayondo. All rights reserved.
