doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title MW&amp;F SIGNUP
  link(rel='stylesheet' href='/css/signup.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css')
form#login-form(action='/signup' method='post')
  h2 Register User
  .form-row
    .form-group
      label(for='fullName') Full Name
      input#fullName(type='fullName' name='fullName')
    .form-group
      label(for='email') Email Address
      input#email(type='email' name='emailAddress')
    .form-group
      label(for='userId') User ID
      input#userId(type='userId' name='userid')
  .form-row
    .form-group
      label(for='gender') Gender
      input#gender(type='gender' name='gender')
    .form-group
      label(for='email') Email address
      input#email(type='email' name='emailAddress')
    .form-group
      label(for='phoneNumber') Phone Number
      input#phoneNumber(type='phoneNumber' name='phoneNumber')
  .form-row
    .form-group.position-relative
      label(for='password') Password
      input#password(type='password' name='password')
      span.toggle-password(onclick='togglePassword()')
        i#toggleIcon.fa-solid.fa-eye
    .form-group
      label(for='confirmPassword') Confirm Password
      input#confirmPassword(type='password' name='confirmPassword' required='')
    .form-group
      label(for='profilePicture') Profile Picture (optional)
      input#profilePicture(type='file' name='profilePicture' accept='image/*')
  button(type='submit') Register Attendant
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js')
script(src='/public/scripts/form.js')
