doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Users
  link(rel='stylesheet' href='/css/user.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css' rel='stylesheet')
nav.navbar.navbar-expand-lg
  .container-fluid
    a.navbar-brand(href='#') MWF
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        a.nav-link(href='manager.html') Dashboard
        a.nav-link.active(aria-current='page' href='attendants.html') Users
        a.nav-link(href='attendants.html') Attendants
        a.nav-link(href='products.html') Products
        a.nav-link(href='sales.html')  Add Sales
        a.nav-link(href='salestable.html') Sales
        a.nav-link(href='stock.html') Add Stock
        a.nav-link(href='.html') Stock
header
  h2 Mayondo Wood &amp; Furniture User Management
.container
  .header
    | Users List
    button(onclick='addNewUser()') + Add New
  .search-bar
    input#searchInput(type='text' placeholder='Search Users' onkeyup='searchUsers()')
  table#usersTable
    thead
      tr
        th Profile
        th Full Name
        th User Name
        th EmailAddress
        th Role
        th Phone Number
        th Address
        th Registration Date
        th Status
        th Action
    tbody
footer.footer
  p &copy; 2025 MWF Company | All Rights Reserved
  .social-icons
    a(href='https://www.facebook.com' target='_blank')
      i.fab.fa-facebook-f
    a(href='https://twitter.com' target='_blank')
      i.fab.fa-twitter
    a(href='https://www.linkedin.com' target='_blank')
      i.fab.fa-linkedin-in
script(src='/public/scripts/user.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js')
