* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

.navbar {
  background-color: rgb(125, 12, 69);
}

.navbar-brand,
.navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover {
  background-color: white;
  color: rgb(125, 12, 69);
  padding: 5px 10px;
  border-radius: 5px;
}

header {
  background: white;
  color: rgb(125, 12, 69);
  padding: 20px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: rgb(125, 12, 69);
}

.role {
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.85rem;
  color: white;
}

.admin {
  background-color: #d9534f;
}

.manager {
  background-color: #5bc0de;
}

.attendant {
  background-color: #5cb85c;
}

.btn {
  padding: 6px 12px;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.edit-btn {
  background-color: #0275d8;
  color: white;
}

.delete-btn {
  background-color: #d9534f;
  color: white;
}

footer {
  background-color: rgb(125, 12, 69);
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

@media (max-width: 576px) {
  .form-container {
    width: 95%;
    padding: 15px;
  }

  h2 {
    font-size: 1.3rem;
  }

  .navbar-nav {
    text-align: center;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .form-container {
    width: 90%;
  }
}

@media (min-width: 993px) {
  .form-container {
    width: 600px;
  }
}
